<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
</head>
<body>
	<h1>Sudoku solver</h1>
<form method="POST" action="/sudoku_solve">
	<table border="solid black" >
		<tr>
			<td>
				<input type="number" name="00" value="0" min="0" max="9">
				<input type="number" name="01" value="0" min="0" max="9">
				<input type="number" name="02" value="0" min="0" max="9">	
			</td>

			<td>
				<input type="number" name="03" value="0" min="0" max="9">
				<input type="number" name="04" value="0" min="0" max="9">
				<input type="number" name="05" value="0" min="0" max="9">	
			</td>
			
			<td>
				<input type="number" name="06" value="0" min="0" max="9">
				<input type="number" name="07" value="0" min="0" max="9">
				<input type="number" name="08" value="0" min="0" max="9">	
			</td>
			

		</tr>

		<tr>
			<td>
				<input type="number" name="10" value="0" min="0" max="9">
				<input type="number" name="11" value="0" min="0" max="9">
				<input type="number" name="12" value="0" min="0" max="9">	
			</td>
			
			<td>
				<input type="number" name="13" value="0" min="0" max="9">
				<input type="number" name="14" value="0" min="0" max="9">
				<input type="number" name="15" value="0" min="0" max="9">	
			</td>
			
			<td>
				<input type="number" name="16" value="0" min="0" max="9">
				<input type="number" name="17" value="0" min="0" max="9">
				<input type="number" name="18" value="0" min="0" max="9">	
			</td>
			

		</tr>

		<tr>
			<td>
				<input type="number" name="20" value="0" min="0" max="9">
				<input type="number" name="21" value="0" min="0" max="9">
				<input type="number" name="22" value="0" min="0" max="9">	
			</td>
			
			<td>
				<input type="number" name="23" value="0" min="0" max="9">
				<input type="number" name="24" value="0" min="0" max="9">
				<input type="number" name="25" value="0" min="0" max="9">	
			</td>
			
			<td>
				<input type="number" name="26" value="0" min="0" max="9">
				<input type="number" name="27" value="0" min="0" max="9">
				<input type="number" name="28" value="0" min="0" max="9">	
			</td>
			

		</tr>

		<tr>
			<td>
				<input type="number" name="30" value="0" min="0" max="9">
				<input type="number" name="31" value="0" min="0" max="9">
				<input type="number" name="32" value="0" min="0" max="9">	
			</td>
			
			<td>
				<input type="number" name="33" value="0" min="0" max="9">
				<input type="number" name="34" value="0" min="0" max="9">
				<input type="number" name="35" value="0" min="0" max="9">	
			</td>
			
			<td>
				<input type="number" name="36" value="0" min="0" max="9">
				<input type="number" name="37" value="0" min="0" max="9">
				<input type="number" name="38" value="0" min="0" max="9">	
			</td>
			

		</tr>

		<tr>
			<td>
				<input type="number" name="40" value="0" min="0" max="9">
				<input type="number" name="41" value="0" min="0" max="9">
				<input type="number" name="42" value="0" min="0" max="9">	
			</td>
			
			<td>
				<input type="number" name="43" value="0" min="0" max="9">
				<input type="number" name="44" value="0" min="0" max="9">
				<input type="number" name="45" value="0" min="0" max="9">	
			</td>
			
			<td>
				<input type="number" name="46" value="0" min="0" max="9">
				<input type="number" name="47" value="0" min="0" max="9">
				<input type="number" name="48" value="0" min="0" max="9">	
			</td>
			

		</tr>

		<tr>
			<td>
				<input type="number" name="50" value="0" min="0" max="9">
				<input type="number" name="51" value="0" min="0" max="9">
				<input type="number" name="52" value="0" min="0" max="9">	
			</td>
			
			<td>
				<input type="number" name="53" value="0" min="0" max="9">
				<input type="number" name="54" value="0" min="0" max="9">
				<input type="number" name="55" value="0" min="0" max="9">	
			</td>
			
			<td>
				<input type="number" name="56" value="0" min="0" max="9">
				<input type="number" name="57" value="0" min="0" max="9">
				<input type="number" name="58" value="0" min="0" max="9">	
			</td>
			

		</tr>

		<tr>
			<td>
				<input type="number" name="60" value="0" min="0" max="9">
				<input type="number" name="61" value="0" min="0" max="9">
				<input type="number" name="62" value="0" min="0" max="9">	
			</td>
			
			<td>
				<input type="number" name="63" value="0" min="0" max="9">
				<input type="number" name="64" value="0" min="0" max="9">
				<input type="number" name="65" value="0" min="0" max="9">	
			</td>
			
			<td>
				<input type="number" name="66" value="0" min="0" max="9">
				<input type="number" name="67" value="0" min="0" max="9">
				<input type="number" name="68" value="0" min="0" max="9">	
			</td>
			

		</tr>

		<tr>
			<td>
				<input type="number" name="70" value="0" min="0" max="9">
				<input type="number" name="71" value="0" min="0" max="9">
				<input type="number" name="72" value="0" min="0" max="9">	
			</td>
			
			<td>
				<input type="number" name="73" value="0" min="0" max="9">
				<input type="number" name="74" value="0" min="0" max="9">
				<input type="number" name="75" value="0" min="0" max="9">	
			</td>
			
			<td>
				<input type="number" name="76" value="0" min="0" max="9">
				<input type="number" name="77" value="0" min="0" max="9">
				<input type="number" name="78" value="0" min="0" max="9">	
			</td>
			

		</tr>

		<tr>
			<td>
				<input type="number" name="80" value="0" min="0" max="9">
				<input type="number" name="81" value="0" min="0" max="9">
				<input type="number" name="82" value="0" min="0" max="9">	
			</td>
			
			<td>
				<input type="number" name="83" value="0" min="0" max="9">
				<input type="number" name="84" value="0" min="0" max="9">
				<input type="number" name="85" value="0" min="0" max="9">	
			</td>
			
			<td>
				<input type="number" name="86" value="0" min="0" max="9">
				<input type="number" name="87" value="0" min="0" max="9">
				<input type="number" name="88" value="0" min="0" max="9">	
			</td>
			

		</tr>


	</table>

	<input type="submit" name="submit" value="Solve">

</form>
</body>
</html>